body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  background: linear-gradient(135deg, #f97316, #fb923c);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.left h1 {
  font-size: 40px;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

/* Tabs */
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.tabs .active {
  border-bottom: 3px solid orange;
  font-weight: bold;
}

/* Form */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: orange;
  border: none;
  cursor: pointer;
  color: white;
}
